@font-face {
    font-family: 'TT-regular-Pro';
    src: url('../fonts/TTNormsPro-Regular.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Regular.woff') format('woff'),
        url('../fonts/TTNormsPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header-back {
    height: 30px;
}

.header {
    width: 95%;
}

.header-back ul {
    list-style-type: none;
}

.header .icons .second-item::after,
.header .icons .second-item::before {
    content: "";
    width: 1px;
    height: 15px;
    display: inline-block;
    margin: -5px 20px;
    background-color: rgb(200, 200, 200);
}

.header ul:nth-of-type(2) a {
    color: #4d4d4d;
    margin: 0 5px;
}

.no-wrap {
    white-space: nowrap;
}

.news {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: TT-regular-Pro;
}

.right-part h3 {
    color: rgba(117, 117, 117, 0.5);
}

.right-part p {
    color: rgb(68, 67, 70);
}