@font-face {
    font-family: 'TT-regular-Pro';
    src: url('../fonts/TTNormsPro-Regular.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Regular.woff') format('woff'),
        url('../fonts/TTNormsPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header-back {
    height: 30px;
}

.header {
    width: 95%;
}

.header-back ul {
    list-style-type: none;
}

.header .icons .second-item::after,
.header .icons .second-item::before {
    content: "";
    width: 1px;
    height: 15px;
    display: inline-block;
    margin: -5px 20px;
    background-color: rgb(200, 200, 200);
}

.header ul:nth-of-type(2) a {
    color: #4d4d4d;
    margin: 0 5px;
}

.no-wrap {
    white-space: nowrap;
}


.news-button {
    background-color: #2a62bd;
    width: 211px;
    height: 40px;
    font-weight: bold;
}

.news-button span {
    z-index: 2;
}

.backgorund-white {
    width: 100%;
    height: 0;
    background-color: #0442a5;
    opacity: 0.5;
    transition: all 0.3s ease-in 0s;
}

.news-button:hover .backgorund-white {
    height: 100%;
}

.right-part h3 {
    color: rgba(117, 117, 117, 0.5);
    border-bottom: 1px solid rgba(117, 117, 117, 0.5);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.right-part .news-image {
    margin-right: 10px;
    width: 130px;
    height: 100%;
    align-self: flex-start;
}

.right-part p {
    color: rgb(68, 67, 70);
    font-weight: bold;
    border-bottom: 1px solid rgba(117, 117, 117, 0.5);
}

.content .category {
    color: #6d798d;
}


/* Mobile */
@media all and (max-width:992px) {

    .header-back {
        display: none;
    }

    .asus-banner {
        width: 100%;
        height: 681px;
        background-image: url("../images/banner_m.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .content {
        border-top: 1px solid rgba(83, 86, 90, 0.1);
        height: 94px;
        padding: 10px 0 0 5px;
        margin-bottom: 10px;
    }

    .content .content-text {
        height: 100%;
    }

    .content .zoom-image {
        width: 80px;
    }

    .grids-part .content-time {
        bottom: 10px;
        left: 0;
    }
}

/* Notebooks and Laptops */
@media all and (min-width:993px) {

    .asus-banner {
        width: 100%;
        height: 241px;
        background-image: url("../images/banner.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .grids-part {
        padding: 0 30px;
        margin-top: 80px;
    }

    .content {
        padding: 0 10px;
    }

    .zoom-image {
        overflow: hidden;
    }

    .grids-part .zoom-image img {
        transition: all 0.3s ease 0s;
    }

    .grids-part .zoom-image:hover img {
        transform: scale(1.2);
    }

    .grids-part .content-time {
        top: 0;
        right: 0;
    }
}